/* You can add global styles to this file, and also import other style files */
#ngb-live {
    display: none!important;
}
.sr-only {
    display: none!important;
}

.filled {
    background-color: black!important;
    width: 40px;
    height: 40px;
}
.grid>div {
    width: 40px;
    height: 40px;
}
.container {
    display: flex;
}

.grid-player1 {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(114, 114, 156);
    margin: 20px;
}



.grid-player2 {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(114, 114, 156);
    margin: 20px;
}
